<form method="post" class="example-form mt-10px" (ngSubmit)="leaveReview()" [formGroup]="createReviewForm">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea
      name="description"
      formControlName="description"
      matInput
      placeholder="text"
      required></textarea>
  </mat-form-field>
  
  <input 
    name="value"
    formControlName="value"
    type="range"
    list="tickmarks"
    max="5" 
    min="1" 
    step="1">

  <datalist id="tickmarks">
    <option value="1" label="1">
    <option value="2" label="2">
    <option value="3" label="3">
    <option value="4" label="4">
    <option value="5" label="5">
  </datalist>

  <div class="mt-10px">
    <button mat-raised-button type="submit">Create</button>
  </div>
</form>