<form method="post" (ngSubmit)="updateUser()" [formGroup]="updateUserForm">
  <h1>Updating your profile</h1>
  <div class="errors-block">
    <p *ngIf="error != ''" class="error__item">{{ error }}</p>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input
      name="firstName"
      formControlName="firstName"
      matInput
      placeholder="My first name is..."
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input
      name="lastName"
      formControlName="lastName"
      matInput
      placeholder="My last name is..."
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      name="email"
      formControlName="email"
      matInput
      placeholder="My email is..."
      required
    />
  </mat-form-field>
  <div>
    <label *ngIf="updateUserForm.get('imageUrl').value == ''" for="imageUrl"
      >Choose image</label
    >
    <img
      *ngIf="updateUserForm.get('imageUrl').value != ''"
      [src]="updateUserForm.get('imageUrl').value"
      alt="Avatar"
      style="width: 50px; height: 50px"
    />
    <button
      class="image__delete"
      *ngIf="updateUserForm.get('imageUrl').value != ''"
      (click)="deleteImage()"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <input
    (change)="uploadImage($event.target.files[0])"
    id="imageurl"
    type="file"
    accept="image/*"
    name="imageUrl"
    value=""
  />
  <button mat-raised-button color="primary" type="submit" class="upd_btn">
    Update profile
  </button>
</form>
