<form method="post" (ngSubmit)="updateCourse()" [formGroup]="updateCourseForm">
  <h1>Updating course</h1>
  <div class="errors-block">
    <p *ngIf="error != ''" class="error__item">{{ error }}</p>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      name="title"
      formControlName="title"
      matInput
      placeholder="Course title"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input
      name="description"
      formControlName="description"
      matInput
      placeholder="Course description"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Price</mat-label>
    <input
      matInput
      type="number"
      formControlName="price"
      class="example-right-align"
      placeholder="0"
      required
      min="0"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Update general info
  </button>
</form>
<section style="padding: 20px 0px">
  <h2>Lessons:</h2>
  <a
    *ngIf="course !== null"
    [routerLink]="['/lesson/create', course.id]"
    class="btn btn-success"
    style="display: block; margin: 15px 0px"
    >Add new one</a
  >
  <mat-spinner *ngIf="lessons === null; else lessonElseBlock"></mat-spinner>
  <ng-template #lessonElseBlock>
    <mat-card *ngFor="let lesson of lessons" style="margin-top: 15px">
      <mat-card-title
        >Lesson #{{ lessons.indexOf(lesson) + 1 }}
        <b>{{ lesson.title }}</b></mat-card-title
      >
      <mat-card-content
        >Description: <b>{{ lesson.description }}</b></mat-card-content
      >
      <mat-card-content
        >External link: <b>{{ lesson.externalLink }}</b></mat-card-content
      >
      <a
        *ngIf="lesson !== null"
        [routerLink]="['/lesson/update', lesson.id]"
        class="btn btn-warning"
        style="margin-right: 10px"
        >Edit</a
      >
      <a
        *ngIf="lesson !== null"
        [routerLink]=""
        class="btn btn-danger"
        (click)="deleteLesson(lesson.id)"
        >Delete</a
      >
    </mat-card>
  </ng-template>
</section>
